.environmentdiv {
    display: flex;
    flex-direction: column;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    margin-top: -2%;
}

.environmentbox {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px,1fr));
    gap: 20px;
    margin: 2%;
}

.environmentimage {
    width: 100px;
    height: 100px;
    object-fit: scale-down;
}