.teydeb {
    height: auto;
    width: 40%;
}

.datacenter {
    height: auto;
    width: 60%;
}

@media (max-width: 900px) {
    .teydeb {
        height: auto;
        width: 70%;
    }

    .datacenter {
        height: auto;
        width: 80%;
    }
    
}

@media (max-width: 500px) {
    .teydeb {
        height: auto;
        width: 90%;
    }

    .datacenter {
        height: auto;
        width: 100%;
    }
    
}